
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
#loginBtn {
  
  background: #163A66;
  background: linear-gradient(to left, #163A66 50%, #005CB8 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  color: white;
}
#loginBtn:hover {
  background-position: left;
}

#iconContainer {
  height: 35px;
  width: 35px;
}
.navbar {
  height: auto; /* Allow the height to adjust based on content */
  padding-top: 10px; /* Adjust the top padding as desired */
  padding-bottom: 10px; /* Adjust the bottom padding as desired */
}

.navbar-brand {
  font-size: 20px; /* Adjust the font size as desired */
}

.navbar-text {
  font-size: 16px; /* Adjust the font size as desired */
}

.btn-primary,
.textColor {
  font-size: 14px; /* Adjust the font size as desired */
  padding: 0.3rem 0.7rem; /* Adjust the button padding as desired */
}

@media screen and (max-width: 767px) {
  .navbar {
    height: auto; /* Allow the height to adjust based on content */
    padding-top: 5px; /* Adjust the top padding as desired */
    padding-bottom: 5px; /* Adjust the bottom padding as desired */
  }

  .navbar-text {
    margin-left: 0.5rem; /* Adjust the margin as desired */
  }

  .btn-primary,
  .textColor {
    font-size: 12px; /* Adjust the font size as desired */
    padding: 0.2rem 0.5rem; /* Adjust the button padding as desired */
  }
}