
<nav class="navbar align-items-center border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-items-center ">
            <img src="assets/logo.png" alt="" width="14%">
            <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
            <a href="#" class="nav-link textColor  lh-sm brandSubHeading d-none d-lg-inline-block">Doctor
                <br>
                <span class="fw-medium brandSubHeading d-none d-lg-inline-block">Light</span>
            </a>
            <div class="position-relative ms-4 d-none d-xl-inline-block">
        
            </div>

        </div>
        <div class="d-flex align-items-center">
            <div class="d-none d-lg-block">
          
            </div>
            <div id="iconContainer"
                class="d-flex justify-content-center align-items-center rounded-5 bg-light d-xl-none">
                <img src="/static_files/svgs2/search.svg" alt="search">
            </div>
            <button id="hostBtn" class="btn btn-sm m-sm-2 m-1 text-white a rounded-5 px-3 d-none d-lg-inline-block">
            Registration</button>
            <button id="loginBtn" class="btn btn-sm m-sm-2 m-1 bg-primary text-white rounded-5 px-sm-3 px-2">Login
              
            </button>
      </div>
    </div>
</nav>
<nav id="secondNav" class="bottom-0 position-fixed end-0 start-0">
    <div class="d-lg-none">
        <div class="container-fluid d-flex justify-content-between shadow pt-2">
            <a href="#" class="text-center text-decoration-none textColor">
                <div class="mb-1">
                    <span class="bg-primary rounded-5 p-1 text-white">DB</span>
                </div>
                <div class="extraSmallFont active pb-1">Dbook</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/book.svg" alt="book">
                <div class="extraSmallFont pb-1">Book</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/dpad.svg" alt="dpad">
                <div class="extraSmallFont pb-1">Navigate</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/bar-chart.svg" alt="bar-chart">
                <div class="extraSmallFont pb-1">Stats</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/lightbulb.svg" alt="lightbulb">
                <div class="extraSmallFont pb-1">Idea</div>
            </a>
            <a href="#" class="text-decoration-none textColor  text-center">
                <img class="iconHeight mb-1" src="/static_files/svgs2/briefcase.svg" alt="briefcase">
                <div class="extraSmallFont pb-1">Career</div>
            </a>
        </div>
    </div>
</nav>