
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
#loginBtn {
  
  background: #163A66;
  background: linear-gradient(to left, #163A66 50%, #005CB8 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  color: white;
}
#loginBtn:hover {
  background-position: left;
}

#iconContainer {
  height: 35px;
  width: 35px;
}
nav ul li a{
  display: block;
  text-decoration: none;
  color: #0f62c6;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  transition:.3s;
  position: relative;
  z-index: 2;
}
nav ul li a:hover{
  
color: #0f62c6;;
border-bottom: 1px solid #0f62c6;;

}
.navbar {
  height: auto; /* Allow the height to adjust based on content */
  padding-top: 10px; /* Adjust the top padding as desired */
  padding-bottom: 10px; /* Adjust the bottom padding as desired */
}

.navbar-brand {
  font-size: 20px; /* Adjust the font size as desired */
}

.navbar-text {
  font-size: 16px; /* Adjust the font size as desired */
}

.btn-primary,
.textColor {
  font-size: 14px; /* Adjust the font size as desired */
  padding: 0.3rem 0.7rem; /* Adjust the button padding as desired */
}

@media screen and (max-width: 767px) {
  .navbar {
    height: auto; /* Allow the height to adjust based on content */
    padding-top: 5px; /* Adjust the top padding as desired */
    padding-bottom: 5px; /* Adjust the bottom padding as desired */
  }

  .navbar-text {
    margin-left: 0.5rem; /* Adjust the margin as desired */
  }

  .btn-primary,
  .textColor {
    font-size: 12px; /* Adjust the font size as desired */
    padding: 0.2rem 0.5rem; /* Adjust the button padding as desired */
  }
}
.stop {
  margin-left: 22%;  
  }
.stop1 {
  margin-left: 38%;  
  }
  @media screen and (max-width: 767px) {
    .stop {
    margin-left: 0px;  
    }
    .stop1{
      margin-left: 0px;
    }
  }