
    <div class="pagetitle mx-5" style="direction: rtl;">
      <h2>الملف الشخصي</h2>
    </div>

    <section class="section profile">
      <div class="row ">

        <div class="col-xl-12 align-items-center col-md-6 col-sm-6 d-flex justify-content-center" style="margin-bottom: 100px;">

          <div class="card col-xl-8" style="direction: rtl;">
            <div class="card-body ">
             
              <ul class="nav nav-tabs custom-tabs">

                <li class="nav-item">
                  <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#profile-overview">نظرة عامة</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">خططك & اشتراكاتك</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-edit">تعديل بياناتك</button>
                </li>


                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">تغيير كلمة السر</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;">معلوماتك<i class="fa-sharp fa-solid fa-circle-info me-2" style="font-size: 25px;"></i></h2>
                  <div class="details-container">
                    <div class="details-item my-4">
                        <span class="details-label" style="font-weight: bold;">الاسم :</span>
                        <span class="details-value">محمود عماد</span>
                      </div>
                      <div class="details-item my-4">
                        <span class="details-label" style="font-weight: bold;">وزنك :</span>
                        <span class="details-value">85 كجم</span>
                      </div>
                    <div class="details-item my-4">
                      <span class="details-label " style="font-weight: bold;">عمرك :</span>
                      <span class="details-value">25 سنة</span>
                    </div>
                    <div class="details-item my-4">
                      <span class="details-label" style="font-weight: bold;">طولك :</span>
                      <span class="details-value">180 سم</span>
                    </div>
                    <div class="details-item my-4">
                      <span class="details-label" style="font-weight: bold;">وزنك :</span>
                      <span class="details-value">85 كجم</span>
                    </div>
                    
                 
                  </div>

                  
                </div>

             

                <div class="tab-pane fade profile-settings" id="profile-settings">
                  <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;">اشتراكاتك<i class="fa-sharp fa-solid fa-flag me-2"></i></h2>
                  <form>
                    <div class="mb-3">
                      
                      <div class="card text-white mb-3 p-2" style="max-width: 25rem; height: 15rem; background-color: #1C4980;">
                        <div class="card-header mb-3" style="font-weight: bold; font-size: 20px;">خطتك</div>
                        <div class="card-body">
                          <h5 class="card-title mb-4" style="font-weight: 200px; font-size: 17px;">اسم/مدة الخطة</h5>
                          <p class="card-text">وصف الخطة</p>
                        </div>
                      </div>
                    </div>
                    
                  </form>
                </div>


                <div class="tab-pane fade profile-edit" id="profile-edit" >
                    <h2 class="card-title" style="color:  #1C4980;font-weight: bold;">تعديل بياناتك<i class="fa-sharp fa-solid fa-user-pen me-2"></i></h2>
                    <form>
                      <div class="mb-3">
                          <label for="name" class="form-label">الاسم الاول</label>
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-signature"></i>
                            </span>
                            <input type="text" class="form-control" id="Fname" placeholder="تعديل الاسم الاول">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="name" class="form-label">اسم الاب</label>
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-signature"></i>
                            </span>
                            <input type="text" class="form-control" id="Lname" placeholder="تعديل اسم الاب">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="email" class="form-label">البريد الالكتروني</label>
                       
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-envelope"></i>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="تعديل بريدك الالكتروني">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="text" class="form-label">التليفون</label>
                          
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-phone-volume"></i>
                            </span>
                            <input type="text" class="form-control" id="phone" placeholder="تعديل رقم تليفونك">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="number" class="form-label">الوزن</label>
                         
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-scale-unbalanced-flip"></i>
                            </span>
                            <input type="number" class="form-control" id="weight" placeholder="تعديل وزنك">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="number" class="form-label">الطول</label>
                         
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-ruler"></i>
                            </span>
                            <input type="number" class="form-control" id="height" placeholder="تعديل طولك">
                          </div>
                        </div>
  
                        <div class="mb-3">
                          <label for="number" class="form-label">العمر</label>
                         
                          <div class="input-group">
                            <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                              <i class="fa-sharp fa-solid fa-cake-candles"></i>
                            </span>
                            <input type="number" class="form-control" id="age" placeholder="تعديل عمرك">
                          </div>
                        </div>
                        
                      <button type="submit" style="background-color: #1C4980;" class="btn btn-primary my-4">حفظ التغييرات</button>
                    </form>
                  </div>

                <div class="tab-pane fade profile-change-password" id="profile-change-password">
                  <h2 class="card-title my-5" style="color:  #1C4980;font-weight: bold;">تغيير كلمة السر<i class="fa-sharp fa-solid fa-pen-nib me-2"></i></h2>
                  <form>
                    <div class="mb-3">
                        <label for="current-password" class="form-label">كلمة السر الحالية</label>
                        
                        <div class="input-group">
                          <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                            <i class="fa-sharp fa-solid fa-lock-open"></i>
                          </span>
                          <input type="password" class="form-control" id="current-password" placeholder="ادخل كلمة السر الحالية">
                       
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="new-password" class="form-label">كلمة السر الجديدة</label>
                      
                        <div class="input-group">
                          <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                            <i class="fa-sharp fa-solid fa-lock"></i>
                          </span>
                          <input type="password" class="form-control" id="new-password" placeholder="ادخل كلمة السر الجديدة">
                       
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="confirm-password" class="form-label">تأكيد كلمة السر</label>
                      
                        <div class="input-group">
                          <span class="input-group-text" style="background-color: #1C4980; color: aliceblue;">
                            <i class="fa-sharp fa-solid fa-lock"></i>
                          </span>
                          <input type="password" class="form-control" id="confirm-password" placeholder="اعد كتابة كلمة السر">
                        </div>
                      </div>
                 
                    
                    <button type="submit" style="background-color: #1C4980;" class="btn btn-primary my-4">تغيير</button>
                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>





  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/main.js"></script>
