


<div class="row my-3 justify-content-center" >
    <div class=" col-md-6 mb-4">
      <div class="card" style="width: auto;">
        <img src="../../../../assets/doctor.jpg" class="card-img-top" 
        alt="..." style="border-radius: 10px 10px 0 0;">
        <div class="card-body text-center" style="overflow-x: hidden;">
          <h5 class="card-title" style="font-size: larger; font-weight: bold;">د/علم</h5>
          <a routerLink="KD"  (click)="close()" class="btn btnB" >تفاصيل</a>
        </div>
      </div>
    </div>
    
  </div>
  



