body{
    overflow-x: hidden;
    color:#163A66;
  }
  .buttonn1
  {
    color:white;
    background-color: #85CC67;
  }
  .buttonn1:hover
  {
    color:#85CC67;
    background-color: white;
  }
  .buttonn2
  {
    color:white;
    background-color: red;
  }
  .buttonn2:hover
  {
    color:red;
    background-color: white;
  }
  .navbar{
    background-color: rgb(241, 238, 238);
  
  }
  .Admin-img{
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50%;
  overflow: hidden;
  }
  .Admin-img img{
  max-width: 100%;
  }
  /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width:300px;
    background-color: #f1f1f1;
   // position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #85CC67;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    //margin-left: 200px;
    margin-top: 5px;
    padding: 1px 16px;
    flex: 1;
   // height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  .Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .Header .child{
    width: 20%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border-left: 2px solid green;
    border-right: 2px solid green;
    text-align: center;
    font-weight: bold;
  }
  //
  
  a
  {
      cursor:pointer;
  }
  
  p
  {
      padding-bottom:1rem;
    margin-top: 3rem;
  }
  
  h5
  {
      font-weight:bold;
      color:#2b2b2b;
  }
  
  .box-shadow
  {
      -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
      box-shadow: 0 1px 1px rgba(72,78,85,.6);
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
  }
  
  .box-shadow:hover
  {
      -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
      box-shadow: 0 20px 40px rgba(72,78,85,.6);
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px);
  }
  
  .card
  {
      border-radius: 25px;
  
  }
  
  .card img
  {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }
  
  .card svg
  {
      position:absolute;
      top:10rem;
    -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.2));
  }
  .card:hover svg
  {
      filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
  }
  
  
  
  
  
  