
    <section class="text-center text-lg-start">
        <style>
          .cascading-right {
            margin-right: -50px;
          }
      
          @media (max-width: 991.98px) {
            .cascading-right {
              margin-right: 0;
            }
          }
        </style>
      
      <div class="container py-4">
          <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card cascading-right" style="
                  background: hsla(0, 0%, 100%, 0.55);
                  backdrop-filter: blur(30px);
                  ">
                <div class="card-body p-5 shadow-5 text-center">
                 <div class="ro"><h2 class="fw-bold mb-5"  style="color:#163A66;">تسجيل الدخول</h2></div>
                  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">

                    <div class="form-outline mb-5">
                      <div class="input-group">
                       
                          <input type="text" id="username" class="form-control text-center" formControlName="username"
                           style="direction: rtl;  border:none; border-bottom: 1px solid gray;" placeholder="ادخل أسم المستخدم" />
                              <span class="input-group-text">
                                <i class="fa-solid fa-circle-user fa-lg"></i>
                                                  </span>
                                </div>
                           <div *ngIf="UserName?.errors != null && UserName?.touched">
                            <p *ngIf="UserName?.errors?.['required']" class="text-danger">
                              ادخل اسم المستخدم
                            </p>
                            <p class="text-danger" *ngIf="UserName?.errors?.['minlength']">
                              أدخل اسم المستخدم بحد أقل 5 أحرف.
                            </p>
                          </div>
                        </div>
                       

                        <!--  -->
                    <div class="form-outline mb-4">
                      <div class="input-group">
                        <input type="password" id="password" formControlName="password" 
                        class="form-control text-center" style="direction: rtl; border:none; border-bottom: 1px solid gray;" 
                        placeholder="ادخل كلمه السر" />
                        <span class="input-group-text">
                          <i class="fa fa-solid fa-lock"></i>
                        </span>
                      </div>

                        <div *ngIf="password?.errors != null && password?.touched">
                        <p *ngIf="password?.errors?.['required']" class="text-danger">
                          برجاء ادخال كلمه السر
                        </p>
                        <p class="text-danger" *ngIf="password?.errors?.['minlength']">
                          برجاء  أدخل كلمه المرور   بحد أقل 6 أحرف  
                        </p>
                        <p class="text-danger" *ngIf="password?.errors?.['maxlength']">
                          برجاء  أدخل كلمه المرور   بحد أقل 10 أحرف  
                        </p>
                      </div>
                    </div>
                    
                    
                  
                    <button type="submit" id="loginBtn" class="btn btnB btn-block mb-4" [disabled]="LoginForm.invalid" (click)="GoPage()">
                      دخول
                    </button>
                  </form>
                  
                </div>
              </div>
            </div>
      
            <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="/assets/Medical Equipment Doctor Vector Hd PNG Images, Stethoscope Logo Medical Doctor Equipment, Black, Cardiac, Cardiology PNG Image For Free Download.jpg" class="w-100 rounded-4 shadow-4"
                alt="" />
            </div>
          </div>
        </div> 
        
        


