<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="row my-5">
  <div class="card box-shadow table-responsive">
    <h4
      style="margin-bottom: 1.5rem; text-align: center; padding-top: 2%"
      class="fontColor"
    >
      طلبات الاشتراك
    </h4>
    <table class="table table-bordered table-hover text-center border">
      <th class="border">رفض/قبول</th>
      <th class="border">رقم التليفون</th>
      <th class="border">البريد الالكتروني</th>
      <th class="border">نوع الخطه</th>
      <th class="border">اسم المريض</th>
      <tr class="border">
        <td class="border">   <button class="btn btn-success m-2 buttonn1"> قبول</button>
          <button class="btn btn-danger m-2 buttonn2">رفض</button>
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          <button class="btn btn-success m-2 buttonn1"> قبول</button>
          <button class="btn btn-danger m-2 buttonn2">رفض</button>
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          <button class="btn btn-success m-2 buttonn1"> قبول</button>
          <button class="btn btn-danger m-2 buttonn2">رفض</button>
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          <button class="btn btn-success m-2 buttonn1"> قبول</button>
          <button class="btn btn-danger m-2 buttonn2">رفض</button>
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
    </table>
  </div>
</div>

<div class="row my-5">
  <div class="card box-shadow table-responsive">
    <h4
      style="margin-bottom: 1.5rem; text-align: center; padding-top: 2%"
      class="fontColor"
    >
      طلبات الاشتراك
    </h4>
    <table class="table table-bordered table-hover text-center border">
      <th class="border">الحالة</th>
      <th class="border">رقم التليفون</th>
      <th class="border">البريد الالكتروني</th>
      <th class="border">نوع الخطه</th>
      <th class="border">اسم المريض</th>
      <tr class="border">
        <td class="border">
          زيادة وزن
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          زيادة وزن
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          زيادة وزن
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
      <tr class="border">
        <td class="border">
          زيادة وزن
        </td>
        <td class="border">010000000000</td>
        <td class="border">ibrahimrabah25@gmail.con</td>
        <td class="border">خطه أ</td>
        <td class="border">رباح ابراهيم</td>
      </tr>
    </table>
  </div>
</div>