<div class="row my-5">

    <div class="col-12 col-md-12 col-lg-12 my-5">
        <div class="card box-shadow mx-auto ">
            <h4 style="margin-bottom:1.5rem;text-align: center;padding-top:2%;margin-left:7%;" class="fontColor">طلبات الاشتراك</h4>
            <table caption="Customars" class="table table-bordered table-hover text-center p-2 w-100 mx-auto border">
                <thead class="border">
                    <th class="border" class="fontColor">رفض/قبول</th>
                    <th class="border"class="fontColor"> رقم التليفون</th>
                    <th class="border"class="fontColor">البريد الالكتروني</th>
                    <th class="border"class="fontColor">نوع الخطه</th>
                    <th class="border"class="fontColor">اسم المريض</th>
                    
                   

                </thead>
                <tbody class="border">
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              <button class="btn btn-success m-2 buttonn1 "  >رفض</button>
                              <button class="btn btn-danger m-2 buttonn2" >قبول</button>
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">ibrahimrabah25@gmail.con</td>
                        <td class="border">خطه أ</td>
                        <td class="border" > رباح ابراهيم</td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              <button class="btn btn-success m-2 buttonn1 "  >رفض</button>
                              <button class="btn btn-danger m-2 buttonn2" >قبول</button>
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">NadaSamir50@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border"> ندي  سمير</td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              <button class="btn btn-success m-2 buttonn1 "  >رفض</button>
                              <button class="btn btn-danger m-2 buttonn2" >قبول</button>
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">mahmudEmad60@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border">محمود عماد </td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              <button class="btn btn-outline-success m-2 buttonn1 "  >رفض</button>
                              <button class="btn btn-outline-danger m-2 buttonn2" >قبول</button>
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">NourMhmd70@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border">نور احمد</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>


</div>

<div class="row my-5">

    <div class="col-12 col-md-12 col-lg-12 my-5">
        <div class="card box-shadow mx-auto ">
            <h4 style="margin-bottom:1.5rem;text-align: center;padding-top:2%;margin-left:7%;" class="fontColor"> متابعة المرضي</h4>
            <table caption="Customars" class="table table-bordered table-hover text-center p-2 w-100 mx-auto border">
                <thead class="border">
                    <th class="border" class="fontColor">الحاله</th>
                    <th class="border"class="fontColor"> رقم التليفون</th>
                    <th class="border"class="fontColor">البريد الالكتروني</th>
                    <th class="border"class="fontColor">نوع الخطه</th>
                    <th class="border"class="fontColor">اسم المريض</th>
                    
                   

                </thead>
                <tbody class="border">
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              تفاصيل المريض
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">ibrahimrabah25@gmail.con</td>
                        <td class="border">خطه أ</td>
                        <td class="border" > رباح ابراهيم</td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              تفاصيل المريض
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">NadaSamir50@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border"> ندي  سمير</td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              تفاصيل المريض
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">mahmudEmad60@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border">محمود عماد </td>
                    </tr>
                    <tr class="border">
                        <td class="border" >
                            <div class="d-flex" style="width: 80px; margin-left: 90px;">
                              تفاصيل المريض
                            </div>
                
                          </td>
                          <td class="border">010000000000</td>
                        <td class="border">NourMhmd70@gmail.com</td>
                        <td class="border">خطه أ</td>
                        <td class="border">نور احمد</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>


</div>