body {
    overflow-x: hidden; 
  }
  .buttonn1
  {
    color:white;
    background-color: #85CC67;
  }
  .buttonn1:hover
  {
    color:#85CC67;
    background-color: white;
  }
  .buttonn2
  {
    color:white;
    background-color: red;
  }
  .buttonn2:hover
  {
    color:red;
    background-color: white;
  }
  
  .box-shadow
  {
      -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
      box-shadow: 0 1px 1px rgba(72,78,85,.6);
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
  }
  
  .box-shadow:hover
  {
      -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
      box-shadow: 0 20px 40px rgba(72,78,85,.6);
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px);
  }
  
  .card
  {
      border-radius: 25px;
  
  }
  
  .card img
  {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }
  
  .card svg
  {
      position:absolute;
      top:10rem;
    -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.2));
  }
  .card:hover svg
  {
      filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
  }
   .fontColor{
    color: #163A66 
   }