<main>

    <!--  -->

    <!--  -->
    <div class="fixed-paragraph" id="hideP">
        اعرف دكتورك

        <button class="btn btnB">اعرف دكتورك</button>

    </div>
    <div class="container-fluid">
        <div id="bodyContent" class="d-flex align-items-center ">
            <div class="row align-items-center contant1">
                <div class="col-12 col-lg-8">
                    <div class="" style="width: max-content;">
                        <p class="fw-medium fs-3 maintextColor">Best Doctor</p>
                        <div class="geeks"></div>
                        <h1 class="fw-bolder display-3 maintextColor">Doctor Diet</h1>


                        <p class="maintextColor fw-medium">مع دكتور دايت هتتشخص صح و الوصول لنتيجه المطلوبه <br>و هتخس
                            بشكل صحى فى اقل وقت
                            بشكل منظم ومتابعة مستمرة
                    </div>
                </div>
                <div class="col-12 col-lg-4 text-lg-center">
                    <div class="p-2 text-center">
                    </div>
                </div>
            </div>
        </div>

        <div id="Doctor" class="d-flex align-items-center">
            <div class="row align-items-center col-8 ">
                <div class="col-12 col-lg-8">
                    <div class="p-5">
                        <p class="fw-medium fs-3 maintextColor">مع</p>
                        <h1 class="fw-bolder display-3 maintextColor" style="width: max-content;"> د/شاهيناز ابراهيم
                        </h1>
                        <div class="geeks2"></div>
                        <div class=" my-4">دكتورة رنا متخصصة فى التشخيص العلاجي وحاصلة على ماجستر من جامعة القاهرة سنة
                            2018</div>

                    </div>
                </div>
                <div class="col-12 col-lg-4 text-lg-center">
                    <div class="p-2 text-center">
                    </div>
                </div>
            </div>
        </div>



        <div class="row my-5 px-5  paragraph " style="width: 100%;text-align: right;">

            <p class=" ">يوفر الموقع العديد من الخدمات والنصائح العملية والبرامج الغذائية المناسبة لكل فرد بناءً على
                حالته الصحية ومتطلباته الغذائية الفردية</p>
            <p class=" ">يتيح الموقع للمستخدمين إجراء تقييم شامل لحالتهم الصحية والغذائية، وذلك من خلال الإجابة على بعض
                الأسئلة المتعلقة بنمط الحياة والغذاء والأمراض المزمنة والأدوية المستخدمة. كما يقدم الموقع خدمات
                الاستشارة الغذائية عبر الإنترنت مع أطباء متخصصين في التغذية والسمنة، ويمكن للمستخدمين الاستفسار عن أي
                مسألة تخص التغذية والسمنة والحصول على الإرشادات المناسبة والنصائح الغذائية المناسبة لحالتهم الصحية</p>
            <p class=" ">بشكل عام، يهدف الموقع إلى توعية الناس بأهمية التغذية الصحية والحفاظ على وزن صحي، ويعمل على
                تحسين جودة الحياة للأشخاص الذين يعانون من مشاكل الوزن والسمنة</p>

        </div>
    </div>
</main>