<div class="fixed-paragraph" id="hideP">
    اعرف دكتورك

    <button class="btn btnB" (click)="ShowDoctors()">اعرف دكتورك</button>

</div>
<!-- Start Landing -->
<div class="landing">
    <div class="text">
        <div class="content">
            <div class="geeks"></div>

            <h2>
                <span>Best Doctor</span> <br />
                Doctor Diet.
            </h2>
            <p>
                مع دكتور دايت هتتشخص صح و الوصول لنتيجه المطلوبه و هتخس بشكل صحى فى اقل
                وقت بشكل منظم ومتابعة مستمرة
            </p>
        </div>
    </div>
</div>
<!-- End Landibg     -->
<!-- Start Design -->
<div class="design">
    <div class="text">
        <p class="fw-medium fs-3">&nbsp;مع</p>
        <h1>د/شاهيناز ابراهيم</h1>
        دكتورة رنا متخصصة فى التشخيص العلاجي وحاصلة على ماجستر من جامعة
        القاهرة سنة 2018
    </div>
    <div class="image">

    </div>
</div>
<!-- End Design  -->
<!-- Start-Info -->
<div class="row my-5 px-5  paragraph" style="width: 100%;text-align: right;">

    <p class=" ">يوفر الموقع العديد من الخدمات والنصائح العملية والبرامج الغذائية المناسبة لكل فرد بناءً على
        حالته الصحية ومتطلباته الغذائية الفردية</p>
    <p class=" ">يتيح الموقع للمستخدمين إجراء تقييم شامل لحالتهم الصحية والغذائية، وذلك من خلال الإجابة على بعض
        الأسئلة المتعلقة بنمط الحياة والغذاء والأمراض المزمنة والأدوية المستخدمة. كما يقدم الموقع خدمات
        الاستشارة الغذائية عبر الإنترنت مع أطباء متخصصين في التغذية والسمنة، ويمكن للمستخدمين الاستفسار عن أي
        مسألة تخص التغذية والسمنة والحصول على الإرشادات المناسبة والنصائح الغذائية المناسبة لحالتهم الصحية</p>
    <p class=" ">بشكل عام، يهدف الموقع إلى توعية الناس بأهمية التغذية الصحية والحفاظ على وزن صحي، ويعمل على
        تحسين جودة الحياة للأشخاص الذين يعانون من مشاكل الوزن والسمنة</p>

            
</div>
<!-- End-Info -->