body {
    font-family: 'Readex Pro', sans-serif;
    overflow-x:hidden;
}
#bodyContent{

background-image: url("../../../../assets/background.jpg");
background-position-x: right;
background-repeat: no-repeat;
background-size: cover;
background-position-y: top;

}
.contant1{
    margin-left: auto;  padding-right: 12%;
}
#Doctor{
    background-image: url("../../../../assets/doctor.jpg");
    height: 38em;
    background-position-x: center;

}
.container-fluid{
    padding: 0;

}
.textColor {
    color: #2a5a94;
}

#verticalbar {
    height: 40px;
    width: 1px;
    background: #97a2b0;
}

.searchInput {
    width: 320px;
    border-radius: 10px;
    border: none;
    padding-top: 14px;
    padding-bottom: 4px;
    border: 1px solid #d5d6d6;
}

.searchInput:focus-visible {
    outline: none;
}

input.searchInput::placeholder {
    color: #2468bb;
    vertical-align: middle;
}

.searchImg {
    top: 13px;
    right: 290px;
}

.changeWidth {
    width: 36px;
}

.iconChange:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: all 0.5s ease;
}

.iconChange:hover::after {
    width: 100%;
    background: #0d6efd;
}

.iconHeight {
    height: 22px;
    width: 22px;
}

.iconChange:hover a {
    color: #0d6efd;
}

.iconChange img {
    transition: all 500ms;
}

.iconChange:hover img {
    transform: translateX(-180%);
    transform-origin: right;
    transition: transform 500ms ease-in-out;
}

.smallFont {
    font-size: 15px;
}

#hostBtn {
    background: #163A66;
    background: linear-gradient(to left, #1C4980 50%, #163A66 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

#hostBtn:hover {
    background-position: left;
}

#loginBtn {
    background: #0d6efd;
    background: linear-gradient(to left, #0073e6 50%, #005CB8 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

#loginBtn:hover {
    background-position: left;
}

#iconContainer {
    height: 35px;
    width: 35px;
}

.extraSmallFont {
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

#secondNav {
    background: #ffffffd4
}

.geeks{
    width: 200px;
    height: 2px;
    position: relative;
    top: 54%;
    left: 37%;
    transform: translate(-100%, -49%);
}

.geeks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: animate 6s linear infinite;
}
.geeks2 {
    width: 200px;
    height: 2px;
    position: absolute;
    top: 150%;
    background:#163A66;
    left: 19%;
    transform: translate(-50%, -50%);}
.geeks2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    animation: animate 5s linear infinite;
}


@keyframes animate {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    0% {
        left: 0;
    }
}

@media screen and (max-width: 1400px) {
    .brand {
        font-size: 18px;
    }
    .contant1{
        margin-left: auto;  padding-left: 44%;
    }
    .geeks2 {
        width: 200px;
        height: 2px;
        position: absolute;
        top:157%;
        left: 18%;
        transform: translate(-50%, -50%);}
    .brandSubHeading {
        font-size: 12px;
    }

    .searchInput {
        width: 280px;
    }

    .iconHeight {
        height: 20px;
        width: 20px;
    }

    .searchImg {
        top: 12px;
        right: 250px;
    }
}

/* body */
#bodyContent {
    min-height: calc(100vh - 77px);



    }

.maintextColor {
    color: #1C4980;
}

.horizontalBar {
    max-width: 200px;
    height: 2px;
    background: #F2C034;
}

.extraSmallFont.active {
    border-bottom: 2px solid #6195f5
}
.paragraph {
   
    font-size: 20px;
    line-height: 1.5;
    color:#163A66;
    text-align: justify;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

paragraph:hover {
    background-color: #e0e0e0;
}
.fixed-paragraph {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    bottom: 350px;
    left: 10px;  
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
    animation: upAndDownAnimation 3s infinite;
  }
  
  @keyframes upAndDownAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

.fixed-paragraph button {
    margin-left: 10px;
}

.fixed-paragraph i {
    margin-left: 10px;
    cursor: pointer;
}

.fixed-paragraph i:hover {
    color: #007bff;
}
.btnB{
    background-color: #163A66;
    color: #ccc;
    }


  .hiddenSectionForDoc {
  
    background: gray; /* Background color of the container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
 
  }
  
 
  .card {
    /* CSS styles for the card */
  }
  
  .hidden {
    display: none; /* Hide the div by default */
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .fixed-paragraph {
    /* Your existing styles */
  }
  
  .show-overlay {
    display: block;
  }
  