<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>الموقع</h4>
                            <span>القاهرة 6اكتوبر </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>تواصل معنا</h4>
                            <span>0107775000</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>البريد الالكترونى</h4>
                            <span>DrRana@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    
                        <div class="footer-logo ">
                            <h4 style="color:  white;"> <i style="color:#ff5e14; width: 16%; font-size: xx-large;  " class="fa-solid mx-1 fa-share-nodes "></i>تابعنا</h4> 
                        <div class="footer-social-icon">
                           
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  
</footer>